{% load tethys_gizmos %}

{% block import_gizmos %}
    {% import_gizmo_dependency plotly_view %}
    {% import_gizmo_dependency datatable_view %}
    {% import_gizmo_dependency date_picker %}
{% endblock %}

{% block forecast_panel %}  
<div class="container-fluid" id="ensemble_forecast_plot">
    {% gizmo forecast_plot %}
</div>
<div class="container-fluid" id="forecast-table">
    {{ forecast_table|safe }}
</div>
<br>
    <button type="button" class="btn btn-sm btn-primary" onclick="descargarArchivo('get-forecast-xlsx')">
        <i class="fa-solid fa-download"></i> Descargar Pronóstico
    </button>
{% endblock %}